{
  "openapi": "3.0.1",
  "info": {
    "title": "Smart Voucher API",
    "description": "Smart Voucher Management System API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://smart-voucher-api.oshi.id.vn",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Bearer Token": []
    },
    {
      "API Key": []
    }
  ],
  "tags": [
    {
      "name": "Request Log",
      "description": "Theo dõi và tra cứu lịch sử API request từ POS và hệ thống bên ngoài"
    },
    {
      "name": "Audit Log",
      "description": "Lịch sử thay đổi dữ liệu trong hệ thống (chỉ dành cho admin)"
    },
    {
      "name": "Quản lý người dùng",
      "description": "Admin quản lý tài khoản người dùng trong hệ thống"
    },
    {
      "name": "Chiến dịch",
      "description": "Quản lý chiến dịch khuyến mãi"
    },
    {
      "name": "Phân quyền",
      "description": "Quản lý gán/thu hồi quyền cho các vai trò trong hệ thống"
    },
    {
      "name": "Webhook",
      "description": "Cấu hình endpoint nhận sự kiện realtime từ hệ thống (ví dụ: voucher được đổi)"
    },
    {
      "name": "Merchant Profile",
      "description": "Quản lý thông tin hồ sơ doanh nghiệp của merchant"
    },
    {
      "name": "POS - Voucher",
      "description": "API dành cho POS và hệ thống bên ngoài: xác thực, đổi và hoàn tác voucher (xác thực bằng API key)"
    },
    {
      "name": "Dashboard",
      "description": "Thống kê và báo cáo tổng quan hệ thống"
    },
    {
      "name": "Voucher",
      "description": "Quản lý voucher khuyến mãi: tạo, phân phối, pause/resume và theo dõi"
    },
    {
      "name": "POS - Khách hàng",
      "description": "API dành cho POS: tra cứu voucher khả dụng của khách hàng (xác thực bằng API key)"
    },
    {
      "name": "API Key",
      "description": "Quản lý API key dùng để xác thực POS và hệ thống bên ngoài"
    },
    {
      "name": "Xác thực",
      "description": "Đăng nhập, đăng ký tài khoản và quản lý mật khẩu"
    },
    {
      "name": "Phân phối",
      "description": "Quản lý việc gửi voucher đến khách hàng qua email/SMS"
    },
    {
      "name": "Khách hàng",
      "description": "Quản lý khách hàng nhận và sử dụng voucher"
    }
  ],
  "paths": {
    "/api/v1/webhooks/{id}": {
      "put": {
        "tags": ["Webhook"],
        "summary": "Cập nhật URL hoặc cấu hình webhook",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseWebhookResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Webhook"],
        "summary": "Xóa webhook",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/vouchers/{id}": {
      "get": {
        "tags": ["Voucher"],
        "summary": "Lấy chi tiết voucher theo ID",
        "operationId": "getById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Voucher"],
        "summary": "Cập nhật thông tin voucher",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoucherUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Voucher"],
        "summary": "Xóa voucher (chỉ khi chưa có lượt dùng)",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/resume": {
      "put": {
        "tags": ["Voucher"],
        "summary": "Kích hoạt lại voucher đang tạm dừng",
        "operationId": "resume",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/pause": {
      "put": {
        "tags": ["Voucher"],
        "summary": "Tạm dừng voucher — POS sẽ từ chối voucher này cho đến khi resume",
        "operationId": "pause",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{id}": {
      "get": {
        "tags": ["Quản lý người dùng"],
        "summary": "Lấy chi tiết thông tin người dùng theo ID",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUserResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Quản lý người dùng"],
        "summary": "Cập nhật thông tin người dùng (họ tên, email, vai trò)",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchant/profile": {
      "get": {
        "tags": ["Merchant Profile"],
        "summary": "Lấy thông tin hồ sơ merchant hiện tại",
        "operationId": "getProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMerchantProfileResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Merchant Profile"],
        "summary": "Cập nhật thông tin hồ sơ merchant (tên, địa chỉ, logo, mã số thuế)",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMerchantProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": ["Khách hàng"],
        "summary": "Lấy chi tiết khách hàng theo ID",
        "operationId": "getById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Khách hàng"],
        "summary": "Cập nhật thông tin khách hàng",
        "operationId": "update_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Khách hàng"],
        "summary": "Xóa khách hàng",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/customers/{id}/deactivate": {
      "put": {
        "tags": ["Khách hàng"],
        "summary": "Vô hiệu hóa tài khoản khách hàng",
        "operationId": "deactivate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}/activate": {
      "put": {
        "tags": ["Khách hàng"],
        "summary": "Kích hoạt lại tài khoản khách hàng đã bị vô hiệu hóa",
        "operationId": "activate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}": {
      "get": {
        "tags": ["Chiến dịch"],
        "summary": "Lấy chi tiết chiến dịch theo ID",
        "operationId": "getById_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCampaignResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Chiến dịch"],
        "summary": "Cập nhật thông tin chiến dịch",
        "operationId": "update_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCampaignResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Chiến dịch"],
        "summary": "Xóa chiến dịch",
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/status": {
      "put": {
        "tags": ["Chiến dịch"],
        "summary": "Cập nhật trạng thái chiến dịch (DRAFT/ACTIVE/PAUSED/ENDED)",
        "operationId": "updateStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["DRAFT", "ACTIVE", "PAUSED", "ENDED"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCampaignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/change-password": {
      "put": {
        "tags": ["Xác thực"],
        "summary": "Đổi mật khẩu cho người dùng hiện tại",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/{id}/rate-limit": {
      "put": {
        "tags": ["API Key"],
        "summary": "Cập nhật giới hạn tốc độ (rate limit) của API key",
        "operationId": "updateRateLimit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateLimitUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/{id}/deactivate": {
      "put": {
        "tags": ["API Key"],
        "summary": "Vô hiệu hóa API key",
        "operationId": "deactivate_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "tags": ["Webhook"],
        "summary": "Lấy danh sách webhook đã cấu hình",
        "operationId": "getAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListWebhookResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Webhook"],
        "summary": "Đăng ký webhook endpoint mới để nhận sự kiện",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseWebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers": {
      "get": {
        "tags": ["Voucher"],
        "summary": "Lấy danh sách voucher (có bộ lọc)",
        "operationId": "getAll_1",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationVoucher"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageVoucherResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Voucher"],
        "summary": "Tạo voucher khuyến mãi mới",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoucherCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/distribute/bulk": {
      "post": {
        "tags": ["Voucher"],
        "summary": "Gửi voucher hàng loạt qua email đến tất cả khách hàng đã gán",
        "operationId": "bulkDistribute",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBulkDistributeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/customers": {
      "get": {
        "tags": ["Voucher"],
        "summary": "Lấy danh sách khách hàng được gán voucher này",
        "operationId": "getVoucherCustomers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerEmail",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageVoucherCustomerResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Voucher"],
        "summary": "Gán danh sách khách hàng vào voucher",
        "operationId": "assignCustomers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/customers/bulk": {
      "post": {
        "tags": ["Voucher"],
        "summary": "Gán nhiều khách hàng vào voucher cùng lúc",
        "operationId": "bulkAssign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAssignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBulkOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/codes/generate": {
      "post": {
        "tags": ["Voucher"],
        "summary": "Tạo hàng loạt mã unique code cho voucher",
        "operationId": "generateCodes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UniqueCodeGenerateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUniqueCodeGenerateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/clone": {
      "post": {
        "tags": ["Voucher"],
        "summary": "Nhân bản voucher (tạo bản sao với code mới)",
        "operationId": "cloneVoucher",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{id}/reset-password": {
      "post": {
        "tags": ["Quản lý người dùng"],
        "summary": "Admin đặt lại mật khẩu tạm thời và gửi qua email cho người dùng",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{id}/reject": {
      "post": {
        "tags": ["Quản lý người dùng"],
        "summary": "Từ chối đăng ký tài khoản",
        "operationId": "reject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{id}/approve": {
      "post": {
        "tags": ["Quản lý người dùng"],
        "summary": "Duyệt tài khoản đăng ký đang chờ phê duyệt",
        "operationId": "approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/{role}/permissions/{permissionId}": {
      "post": {
        "tags": ["Phân quyền"],
        "summary": "Gán quyền cho vai trò",
        "operationId": "assignPermission",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ADMIN", "STAFF", "USER"]
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Phân quyền"],
        "summary": "Thu hồi quyền khỏi vai trò",
        "operationId": "revokePermission",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ADMIN", "STAFF", "USER"]
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/vouchers/validate": {
      "post": {
        "tags": ["POS - Voucher"],
        "summary": "Kiểm tra tính hợp lệ của voucher (không tiêu lượt dùng)",
        "operationId": "validate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoucherValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherValidateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/vouchers/usages/{usageId}/reverse": {
      "post": {
        "tags": ["POS - Voucher"],
        "summary": "Hoàn tác lượt dùng voucher khi đơn hàng bị hủy hoặc hoàn tiền",
        "operationId": "reverse",
        "parameters": [
          {
            "name": "usageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseRedemptionReverseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/vouchers/redeem": {
      "post": {
        "tags": ["POS - Voucher"],
        "summary": "Áp dụng voucher cho đơn hàng (tiêu một lượt dùng, hỗ trợ idempotency)",
        "operationId": "redeem",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoucherRedeemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoucherValidateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/distributions": {
      "get": {
        "tags": ["Phân phối"],
        "summary": "Lấy danh sách lệnh phân phối (có bộ lọc)",
        "operationId": "getAll_2",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationVoucherDistribution"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageDistributionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Phân phối"],
        "summary": "Tạo lệnh phân phối voucher đến một khách hàng",
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistributionCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDistributionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/distributions/{id}/retry": {
      "post": {
        "tags": ["Phân phối"],
        "summary": "Thử lại gửi voucher cho lệnh phân phối thất bại (FAILED)",
        "operationId": "retry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDistributionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/distributions/{id}/resend": {
      "post": {
        "tags": ["Phân phối"],
        "summary": "Gửi lại email voucher cho khách hàng (áp dụng cả khi status là SENT)",
        "operationId": "resend",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDistributionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": ["Khách hàng"],
        "summary": "Lấy danh sách khách hàng (có bộ lọc)",
        "operationId": "getAll_3",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationCustomer"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageCustomerResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Khách hàng"],
        "summary": "Tạo khách hàng mới",
        "operationId": "create_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/import": {
      "post": {
        "tags": ["Khách hàng"],
        "summary": "Nhập khách hàng hàng loạt từ file CSV",
        "operationId": "importCsv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBulkOperationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "tags": ["Chiến dịch"],
        "summary": "Lấy danh sách chiến dịch (có bộ lọc)",
        "operationId": "getAll_4",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationCampaign"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageCampaignResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Chiến dịch"],
        "summary": "Tạo chiến dịch khuyến mãi mới",
        "operationId": "create_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCampaignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/clone": {
      "post": {
        "tags": ["Chiến dịch"],
        "summary": "Nhân bản chiến dịch",
        "operationId": "cloneCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCampaignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify-otp": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Xác thực OTP và nhận reset token để đặt lại mật khẩu",
        "operationId": "verifyOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify-email": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Xác thực email bằng mã OTP",
        "operationId": "verifyEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Đặt lại mật khẩu bằng reset token",
        "operationId": "resetPassword_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/resend-verification": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Gửi lại email xác thực",
        "operationId": "resendVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Đăng ký tài khoản nhân viên (STAFF) mới",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register-merchant": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Đăng ký tài khoản merchant có quyền dùng API key",
        "operationId": "registerMerchant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Làm mới JWT access token bằng refresh token",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Đăng nhập bằng username và mật khẩu",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/forgot-password": {
      "post": {
        "tags": ["Xác thực"],
        "summary": "Yêu cầu mã OTP để đặt lại mật khẩu qua email",
        "operationId": "forgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys": {
      "get": {
        "tags": ["API Key"],
        "summary": "Lấy danh sách API key (có bộ lọc)",
        "operationId": "getAll_5",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationApiKey"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageApiKeyResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["API Key"],
        "summary": "Tạo API key mới",
        "operationId": "create_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/usages": {
      "get": {
        "tags": ["Voucher"],
        "summary": "Lấy lịch sử sử dụng của voucher",
        "operationId": "getVoucherUsages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "externalOrderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usedAtFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "usedAtTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageVoucherUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/usages/export": {
      "get": {
        "tags": ["Voucher"],
        "summary": "Xuất lịch sử sử dụng voucher ra file CSV",
        "operationId": "exportUsagesCsv",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/export": {
      "get": {
        "tags": ["Voucher"],
        "summary": "Xuất danh sách voucher ra file CSV",
        "operationId": "exportCsv",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationVoucher"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "tags": ["Quản lý người dùng"],
        "summary": "Lấy danh sách người dùng (có bộ lọc)",
        "operationId": "getAll_6",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationUser"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roles/{role}/permissions": {
      "get": {
        "tags": ["Phân quyền"],
        "summary": "Lấy danh sách quyền được gán cho một vai trò",
        "operationId": "getRolePermissions",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ADMIN", "STAFF", "USER"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/request-logs": {
      "get": {
        "tags": ["Request Log"],
        "summary": "Tra cứu lịch sử API request với bộ lọc đầy đủ",
        "operationId": "getLogs",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "apiKeyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endpoint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseTimeMsMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "responseTimeMsMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageApiRequestLog"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/permissions": {
      "get": {
        "tags": ["Phân quyền"],
        "summary": "Lấy danh sách tất cả quyền trong hệ thống",
        "operationId": "getAllPermissions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListPermissionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/vouchers/qr/{token}": {
      "get": {
        "tags": ["POS - Voucher"],
        "summary": "Giải mã QR token để lấy thông tin voucher và khách hàng",
        "operationId": "resolveQr",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseQrResolveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/vouchers/customers/lookup": {
      "get": {
        "tags": ["POS - Voucher"],
        "summary": "Tra cứu thông tin khách hàng theo số điện thoại, email hoặc externalId",
        "operationId": "lookupCustomer",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/customers/{ref}/vouchers": {
      "get": {
        "tags": ["POS - Khách hàng"],
        "summary": "Tra cứu danh sách voucher đang có hiệu lực của khách hàng tại điểm bán",
        "operationId": "getAvailableVouchers",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderTotal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListPosAvailableVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/distributions/{id}": {
      "get": {
        "tags": ["Phân phối"],
        "summary": "Lấy chi tiết lệnh phân phối theo ID",
        "operationId": "getById_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDistributionResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Phân phối"],
        "summary": "Hủy lệnh phân phối chưa gửi",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/usage-trend": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Xem xu hướng sử dụng voucher theo ngày/tuần/tháng",
        "operationId": "getUsageTrend",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DAY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUsageTrendResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/overview": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Xem tổng quan hệ thống: tổng voucher, lượt dùng, doanh thu giảm giá",
        "operationId": "getOverview",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDashboardOverviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/campaigns/{id}": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Xem thống kê hiệu quả của một chiến dịch cụ thể",
        "operationId": "getCampaignStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCampaignStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/branch-stats": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Xem thống kê sử dụng voucher theo chi nhánh",
        "operationId": "getBranchStats",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}/vouchers": {
      "get": {
        "tags": ["Khách hàng"],
        "summary": "Lấy danh sách voucher đã gán cho khách hàng",
        "operationId": "getCustomerVouchers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "voucherCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "discountType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageCustomerVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{id}/usages": {
      "get": {
        "tags": ["Khách hàng"],
        "summary": "Lấy lịch sử sử dụng voucher của khách hàng",
        "operationId": "getCustomerUsages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "voucherId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "usedAtFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "usedAtTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageCustomerUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/export": {
      "get": {
        "tags": ["Khách hàng"],
        "summary": "Xuất danh sách khách hàng ra file CSV",
        "operationId": "exportCsv_1",
        "parameters": [
          {
            "name": "spec",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SpecificationCustomer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/by-external/{externalId}": {
      "get": {
        "tags": ["Khách hàng"],
        "summary": "Tìm khách hàng theo mã ngoài (externalId từ hệ thống POS/e-commerce)",
        "operationId": "getByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/vouchers": {
      "get": {
        "tags": ["Chiến dịch"],
        "summary": "Lấy danh sách voucher thuộc chiến dịch",
        "operationId": "getCampaignVouchers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "discountType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "validUntil",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/stats": {
      "get": {
        "tags": ["Chiến dịch"],
        "summary": "Xem thống kê hiệu quả của chiến dịch",
        "operationId": "getStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCampaignStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": ["Xác thực"],
        "summary": "Lấy thông tin người dùng đang đăng nhập",
        "operationId": "me",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit-logs": {
      "get": {
        "tags": ["Audit Log"],
        "summary": "Xem lịch sử audit log (chỉ admin)",
        "operationId": "getAll_7",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageAuditLog"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/{id}": {
      "get": {
        "tags": ["API Key"],
        "summary": "Lấy chi tiết API key theo ID",
        "operationId": "getById_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/{id}/usage": {
      "get": {
        "tags": ["API Key"],
        "summary": "Xem thống kê sử dụng của API key",
        "operationId": "getUsage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyUsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vouchers/{id}/customers/{customerId}": {
      "delete": {
        "tags": ["Voucher"],
        "summary": "Thu hồi quyền dùng voucher của một khách hàng",
        "operationId": "revokeAssignment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WebhookRequest": {
        "required": ["secret", "url"],
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiResponseWebhookResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/WebhookResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "failureCount": {
            "type": "integer",
            "format": "int32"
          },
          "lastTriggeredAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VoucherUpdateRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "discountType": {
            "type": "string",
            "enum": ["PERCENTAGE", "FIXED_AMOUNT"]
          },
          "discountValue": {
            "minimum": 0,
            "exclusiveMinimum": true,
            "type": "number"
          },
          "maxDiscountAmount": {
            "type": "number"
          },
          "minOrderValue": {
            "minimum": 0,
            "exclusiveMinimum": false,
            "type": "number"
          },
          "applicableProducts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "applicableCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "applicableBranches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxUsageTotal": {
            "type": "integer",
            "format": "int32"
          },
          "maxUsagePerCustomer": {
            "type": "integer",
            "format": "int32"
          },
          "isPublic": {
            "type": "boolean"
          },
          "validFrom": {
            "type": "string",
            "format": "date-time"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PAUSED",
              "INACTIVE",
              "EXPIRED",
              "FULLY_USED",
              "SCHEDULED"
            ]
          }
        }
      },
      "ApiResponseVoucherResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/VoucherResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "VoucherResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "code": {
            "type": "string"
          },
          "campaignId": {
            "type": "integer",
            "format": "int64"
          },
          "campaignName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "discountType": {
            "type": "string",
            "enum": ["PERCENTAGE", "FIXED_AMOUNT"]
          },
          "discountValue": {
            "type": "number"
          },
          "maxDiscountAmount": {
            "type": "number"
          },
          "minOrderValue": {
            "type": "number"
          },
          "applicableProducts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "applicableCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "applicableBranches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxUsageTotal": {
            "type": "integer",
            "format": "int32"
          },
          "maxUsagePerCustomer": {
            "type": "integer",
            "format": "int32"
          },
          "currentUsageCount": {
            "type": "integer",
            "format": "int32"
          },
          "isPublic": {
            "type": "boolean"
          },
          "validFrom": {
            "type": "string",
            "format": "date-time"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PAUSED",
              "INACTIVE",
              "EXPIRED",
              "FULLY_USED",
              "SCHEDULED"
            ]
          },
          "createdById": {
            "type": "integer",
            "format": "int64"
          },
          "createdByUsername": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserUpdateRequest": {
        "required": ["email", "fullName", "role"],
        "type": "object",
        "properties": {
          "fullName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          },
          "email": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["ADMIN", "STAFF", "USER"]
          }
        }
      },
      "ApiResponseUserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UserResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["ADMIN", "STAFF", "USER"]
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "ACTIVE", "REJECTED"]
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MerchantProfileRequest": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "businessType": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "taxCode": {
            "type": "string"
          }
        }
      },
      "ApiResponseMerchantProfileResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/MerchantProfileResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "MerchantProfileResponse": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "businessType": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "taxCode": {
            "type": "string"
          },
          "maxApiKeys": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CustomerCreateRequest": {
        "required": ["fullName"],
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "ApiResponseCustomerResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CustomerResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "externalId": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignCreateRequest": {
        "required": ["endDate", "name", "startDate"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "budget": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": ["DRAFT", "ACTIVE", "PAUSED", "ENDED"]
          }
        }
      },
      "ApiResponseCampaignResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CampaignResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "CampaignResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "budget": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": ["DRAFT", "ACTIVE", "PAUSED", "ENDED"]
          },
          "createdById": {
            "type": "integer",
            "format": "int64"
          },
          "createdByUsername": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChangePasswordRequest": {
        "required": ["confirmPassword", "currentPassword", "newPassword"],
        "type": "object",
        "properties": {
          "currentPassword": {
            "type": "string"
          },
          "newPassword": {
            "maxLength": 2147483647,
            "minLength": 8,
            "type": "string"
          },
          "confirmPassword": {
            "type": "string"
          }
        }
      },
      "ApiResponseMapStringString": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "RateLimitUpdateRequest": {
        "type": "object",
        "properties": {
          "rateLimitPerMinute": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "rateLimitPerDay": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "systemName": {
            "type": "string"
          },
          "rateLimitPerMinute": {
            "type": "integer",
            "format": "int32"
          },
          "rateLimitPerDay": {
            "type": "integer",
            "format": "int32"
          },
          "isActive": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "plainTextKey": {
            "type": "string"
          }
        }
      },
      "ApiResponseApiKeyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ApiKeyResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "VoucherCreateRequest": {
        "required": [
          "code",
          "discountType",
          "discountValue",
          "validFrom",
          "validUntil"
        ],
        "type": "object",
        "properties": {
          "code": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "campaignId": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          },
          "discountType": {
            "type": "string",
            "enum": ["PERCENTAGE", "FIXED_AMOUNT"]
          },
          "discountValue": {
            "minimum": 0,
            "exclusiveMinimum": true,
            "type": "number"
          },
          "maxDiscountAmount": {
            "type": "number"
          },
          "minOrderValue": {
            "minimum": 0,
            "exclusiveMinimum": false,
            "type": "number"
          },
          "applicableProducts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "applicableCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "applicableBranches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxUsageTotal": {
            "type": "integer",
            "format": "int32"
          },
          "maxUsagePerCustomer": {
            "type": "integer",
            "format": "int32"
          },
          "isPublic": {
            "type": "boolean"
          },
          "validFrom": {
            "type": "string",
            "format": "date-time"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiResponseBulkDistributeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BulkDistributeResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "BulkDistributeResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "sent": {
            "type": "integer",
            "format": "int32"
          },
          "skipped": {
            "type": "integer",
            "format": "int32"
          },
          "failed": {
            "type": "integer",
            "format": "int32"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkError"
            }
          }
        }
      },
      "BulkError": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ApiResponseVoid": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "BulkAssignRequest": {
        "required": ["customerIds"],
        "type": "object",
        "properties": {
          "customerIds": {
            "maxItems": 1000,
            "minItems": 0,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "ApiResponseBulkOperationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BulkOperationResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "BulkOperationResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "processed": {
            "type": "integer",
            "format": "int32"
          },
          "skipped": {
            "type": "integer",
            "format": "int32"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkError"
            }
          }
        }
      },
      "UniqueCodeGenerateRequest": {
        "required": ["quantity"],
        "type": "object",
        "properties": {
          "quantity": {
            "maximum": 5000,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ApiResponseUniqueCodeGenerateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UniqueCodeGenerateResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "UniqueCodeGenerateResponse": {
        "type": "object",
        "properties": {
          "generated": {
            "type": "integer",
            "format": "int32"
          },
          "total": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponseMapStringObject": {
        "type": "object",
        "properties": {
[...]
